body {
    font-family: "arial";
}

label {
    display: inline-block;
    width: 5em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.matrixField {
    height: 2em;
    width: 2em;
}

.rowLabel {
    text-align: right;
    padding: 0.25em;
}

.columnLabel {
    text-align: center;
    padding: 0.25em;
}

.fieldLabel {
    font-size: 0.5em;
    font-style: normal;
}