:not(h1, h2, h3, h4, h5, h6) {
    font-weight: normal;
    font-size: 10pt;
}

body {
    font-family: "arial";
}

div {
    margin-bottom: 5px;
}

.sectionHeader {
    margin-bottom: 5px;
}

.sectionContent {
    margin-left: 1em;
}

label {
    display: inline-block;
    width: 5em;
}

#agentRankingTable, .rankingTableColumnLabel, .rankingTableRowLabel, .rankingTableDataField {
    border: 0px;
    padding: 4px;
}

.rankingTableColumnLabel {
    text-align: right;
    font-size: 12pt;
    font-weight: bold;
}

.rankingTableRowLabel {
    text-align: left;
    font-weight: normal;
}

.rankingTableDataField {
    text-align: right;
    width: 80px;
}

#matchupMatrix, .matrixColumnLabel, .matrixRowLabel, .matrixDataField {
    border: 0px;
    padding: 4px;
}

.matrixDataField {
    border: 1px solid rgba(0,0,0,0.25);
    height: 16px;
    width: 16px;
}

.matrixDataFieldHighlightOverlay {
    position: relative; 
    padding: 0; 
    margin-bottom: 0;  /* because it's a div and i set div margin bottom further up */
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    box-sizing: border-box; 
    border: 2px solid black; 
    border-collapse: collapse; 
    border-radius: 8px;
}

.matrixRowLabel {
    text-align: right;
}

.matrixColumnLabel {
    text-align: center;
}

.fieldLabel {
    display: inline;
    font-size: 6pt;
    font-style: normal;
}